.chat {
  margin: 0 0px 5px 0 !important;
  border-radius: 1em !important;
  padding: 0.5em 1em;
  background: #f7b456;
  clear: both !important;
  position: relative;
  font-size: 1rem !important;
  word-break: break-all;
  text-align: justify;
  float: left;
  max-width: 70%;
}
.chat.me {
  color: white;
  background-color: #1289fe;
  float: right !important;
}

i {
  vertical-align: center;
  padding: 0 0 0 0 !important;
}

a:hover{
  cursor: pointer;
}
